@page
@model IndexPageModel
@{
  //Layout = "_Layout";
}
<p>
  Do your own time billing with this simple website. Just fork the repo
  and run your own server.
</p>
<p>Are you ready to do some Billing?</p>
@foreach(var customer in Model.Customers)
{
  <div>@customer.CompanyName</div>
  <div>@customer.Address?.AddressLine1</div>
  <div>@customer.Address?.AddressLine2</div>
  <div>@customer.Address?.AddressLine3</div>
  <div>@customer.Address?.City, @customer.Address?.StateProvince  @customer.Address?.PostalCode</div>
  <hr/>
}

